.home{
  width: auto;
 color: white;

}
.books{
  float: left;
  width: 45%;
  overflow: hidden;
}
.addBooks{
  width: 50%;
  overflow: hidden;

}
.authorsList{
  float: left;
  width: 45%;
  overflow: hidden;
}
.addAuthor{
  width: 50%;
  overflow: hidden;
}
